#title {
    position: absolute;
    top: 3%;
    left: 33%;
    font-size: 300%;
    color: brown;
    font-family: colonna mt;
}

@font-face {
    font-family: 'Abel-Regular';
    src: url('../fonts/Abel-Regular.eot');
    src: local('☺'), url('../fonts/Abel-Regular.woff') format('woff'), url('../fonts/Abel-Regular.ttf') format('truetype'), url('../fonts/Abel-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin-Regular';
    src: url('../fonts/Cabin-Regular.eot');
    src: local('☺'), url('../fonts/Cabin-Regular.woff') format('woff'), url('../fonts/Cabin-Regular.ttf') format('truetype'), url('../fonts/Cabin-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url(../images/bg-body.png) repeat left top;
    min-width: 960px;
    margin: 0;
}

.area {
    width: 960px;
    margin: 0 auto;
}

img {
    border: 0;
}

.more {
    color: #eb6900;
    display: inline-block;
    font: 12px/24px 'Cabin-Regular';
    letter-spacing: 1px;
    margin: 0 5px;
    text-decoration: none;
    text-transform: uppercase;
}


/*------------------------------ Sprites ------------------------------*/

#navigation,
#navigation li.selected a,
#navigation li a:hover,
.blog h2,
.frame,
.heading1,
.heading2,
#blog .list li {
    background: url(../images/interface.png) no-repeat;
}

.box,
.box>div,
.box>div>div {
    background-image: url(../images/bg-contentbox.png);
    background-repeat: no-repeat;
}

.box2,
.box2>div {
    background-image: url(../images/bg-sidebar.png);
    background-repeat: no-repeat;
}

#connect a,
.archives>li>span {
    background: url(../images/icons.png) no-repeat;
}

.more:hover,
#connect a:hover {
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.frame {
    background-position: right bottom;
    height: 216px;
    width: 268px;
    margin: 0 0 12px -7px;
    padding: 12px 13px 14px;
}

.heading1,
.heading2 {
    background-position: -258px -60px;
    height: 54px;
    line-height: 54px;
    width: 240px;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 1px #fff;
}

.heading2 {
    background-position: right -60px;
    height: 45px;
    line-height: 45px;
    width: 440px;
}


/*------------------------------ HEADER ------------------------------*/

#header {
    background: url(../images/bg-header.png) repeat-x left top;
    height: 140px;
    text-align: right;
}


/** logo **/

#logo {
    float: left;
    margin: 40px 0 0;
    background: aqua;
}


/** navigation **/

#navigation {
    background-position: right top;
    display: inline-block;
    height: 45px;
    list-style: none;
    width: 500px;
    margin: 95px 0 0;
    padding: 0 30px;
}

#navigation li {
    float: left;
    width: 124px;
    margin: 0;
    text-align: center;
}

#navigation li a {
    color: black;
    display: block;
    font: 18px/50px Georgia;
    height: 50px;
    width: 124px;
    text-decoration: none;
    text-shadow: 0 1px #fff;
    
}

#navigation li.selected a,
#navigation li a:hover {
    background-position: left top;
}


/*------------------------------ CONTENTS ------------------------------*/

#contents {
    background-position: center;
    min-height: auto;
    height: 500px;
    background-color: goldenrod;
    padding-top: 45px;
    overflow: hidden;
    background-size: 1000px;
}

#contents div.area:after {
    clear: both;
    content: "";
    display: block;
    height: 1%;
    line-height: 0;
    visibility: hidden;
}

#content {
    min-height: auto;
    height: 500px;
    background-color: black;
    padding-top: 45px;
    overflow: hidden;
    background-size: 1500px;
}

#content div.area:after {
    clear: both;
    content: "";
    display: block;
    height: 1%;
    line-height: 0;
    visibility: hidden;
}

h2,
h3 {
    color: #2f2203;
    font: 24px/24px 'Abel-Regular';
    letter-spacing: 1px;
    margin: 0 0 6px;
    text-transform: uppercase;
}

h2 span {
    color: #fc6700;
}

h3 {
    font-size: 20px;
    margin: 0;
    text-transform: none;
}

p {
    color: #9b8d84;
    font: 12px/24px Arial, Helvetica, sans-serif;
    padding: 0 0 24px;
    margin: 0;
}

p a {
    color: #9b8d84;
}

h3 a:hover,
p a:hover {
    color: #f1aa00;
}

p a:hover {
    text-decoration: underline;
}


/** adbox **/

#adbox {
    background: url(../images/adbox.jpg) no-repeat center top;
    margin: -45px 0 30px;
}

#adbox .area {
    height: 400px;
    position: relative;
}

#adbox ul {
    display: inline-block;
    list-style: none;
    margin: 0 0 6px;
    padding: 0;
    position: absolute;
    left: 0;
    bottom: 0;
}

#adbox ul li {
    float: left;
    background: url(../images/separator.png) no-repeat left top;
    min-height: 110px;
    width: 300px;
    padding: 0 8px 0 12px;
}

#adbox ul li:first-child {
    background: none;
}

#adbox ul li>div {
    background: url(../images/bg-adbox-feature.png) no-repeat center top;
    padding: 10px 20px 0;
}

#adbox ul li>div h2 {
    letter-spacing: 1px;
}

#adbox ul li>div p {
    color: #2f2203;
    letter-spacing: 1px;
}

#adbox ul li>div p a {
    color: #2f2203;
    text-decoration: none;
}


/** section **/

.section {
    float: left;
    width: 480px;
}


/** box **/

.box {
    background-position: right bottom;
    width: 440px;
    margin: 0 auto 36px;
    padding: 0 0 10px;
}

.box>div {
    background-position: left top;
    padding: 10px 0 0;
}

.box>div>div {
    background-position: -450px 0;
    background-repeat: repeat-y;
    padding: 0 20px;
}


/** box2 **/

.box2 {
    background-position: right bottom;
    padding: 0 0 10px;
}

.box2>div {
    background-position: left top;
    background-repeat: repeat-y;
    min-height: 100px;
    padding: 0 40px;
}


/** main **/

.main {
    float: left;
    width: 600px;
    margin: 0 30px 0 10px;
}


/** blog **/

.blog {
    float: right;
    width: 290px;
    margin: 0 10px 18px 20px;
}

.blog h2 {
    background-position: 0 -60px;
    color: #fff;
    font: 24px/35px 'Abel-Regular';
    height: 35px;
    letter-spacing: 1px;
    width: 208px;
    margin: 0 0 10px;
    padding: 0 20px;
    text-transform: uppercase;
}

.blog h3 {
    text-transform: uppercase;
}

.blog p {
    padding: 0;
}


/** features **/

#features {
    margin: 30px 0 12px;
}

#features p {
    padding: 0;
}

#features .more {
    margin: 0
}

#features ul {
    display: inline-block;
    list-style: none;
    width: 630px;
    margin: 18px 0 18px -10px;
    padding: 0;
}

#features ul li {
    float: left;
    width: 280px;
    margin: 0 10px 22px;
    padding: 0 10px 0 0;
}

#features ul li img {
    float: left;
    margin: 6px 20px 24px 0;
}


/** About page **/

#about p {
    letter-spacing: 1px;
    padding-bottom: 12px;
}

#about .section:first-child p {
    padding-bottom: 42px;
}


/** contact **/

#contact p {
    padding-bottom: 30px;
}

#contact p span {
    display: block;
}

#contact .section {
    width: 440px;
    padding: 0 20px;
}

#contact .section:first-child h3 {
    margin-top: 12px;
}

#contact p.numbers {
    padding-left: 40px;
}

#contact p.address {
    padding-left: 40px;
}

#contact p.address span {
    display: block;
    font-size: 14px;
    margin-left: -40px;
}


/** list **/

.list {
    list-style: none;
    margin: 18px 0;
    padding: 0;
}

.list li {}

.list li img {
    float: left;
    margin: 0 20px 0 10px;
}

.list li div {
    padding-left: 130px;
}


/** Blog Page **/

#blog {
    margin-bottom: 60px;
}

#blog .main {
    background: url(../images/dash.png) repeat-y right top;
    min-height: 500px;
    width: 598px;
    margin: 0;
    padding: 0 22px 0 40px;
}

#blog .list li {
    background-position: left bottom;
    height: 194px;
    width: 540px;
    margin: 0 0 18px;
    padding: 20px 40px 10px 20px;
}

#blog .list li img {
    margin: 0 20px 0 0;
}

#blog .list li div {
    padding-left: 150px;
}

#blog .list li div p {
    letter-spacing: 1px;
    padding-bottom: 6px;
    border-bottom: 1px solid #e5e5e5;
}

#blog .list li div>span {
    color: #9b8d84;
    font: 12px/42px Arial, Helvetica, sans-serif;
}

#blog .list li div>span.views {
    float: right;
}

#blog .sidebar {
    float: right;
    width: 240px;
    padding: 0 40px 0 18px;
}


/** pagination **/

.pagination {
    display: inline-block;
    line-height: 24px;
    width: 100%;
    margin: 12px 0 0;
    text-align: center;
}

.pagination>ul {
    display: inline-block;
    list-style: none;
    *width: 330px;
    margin: 0;
    padding: 0;
}

.pagination>ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0 2px;
}

.pagination>ul li a {
    color: #9b8d84;
    padding: 5px;
    text-decoration: none;
}

.pagination>ul li a:hover,
.pagination>ul li.selected a {
    color: #fc6700;
}

.pagination>ul li.last a {
    color: #f1aa00;
}


/** archives **/

.archives {
    list-style: none;
    margin: 0;
    padding: 18px 0;
}

.archives>li {
    cursor: pointer;
    border-top: 1px solid #e5e5e5;
}

.archives>li>span {
    background-position: right -160px;
    color: #f1aa00;
    display: block;
    font: 16px/30px 'Abel-Regular';
    height: 30px;
}

.archives>li:first-child {
    border-top: 0;
}

.archives ul {
    display: none;
    list-style: none;
    border-top: 1px solid #e5e5e5;
    margin: 0;
    padding: 12px 0;
}

.archives ul li a {
    color: #9b8d84;
    display: block;
    font: 12px/24px Arial, Helvetica, sans-serif;
    padding-left: 20px;
    text-decoration: none;
}

.archives ul li a:hover {
    color: #fc6700;
}

.archives>li:hover>span {
    color: #fc6700;
}

.archives>li ul {
    display: none;
}

.archives>li:hover>span,
.archives>li:hover ul {
    background-position: right bottom;
    color: #fc6700;
    display: block;
}


/*------------------------------ FOOTER ------------------------------*/

#footer {
    background: url(../images/bg-footer.png) repeat left top;
    display: inline-block;
    width: 100%;
    padding: 30px 0;
}

.divider {
    background: url(../images/divider.png) no-repeat center top;
    display: block;
    height: 2px;
    width: 572px;
    margin: 0 auto;
    position: relative;
    top: -31px;
}

#footer p {
    color: #2f2203;
    font: 12px/24px Arial, Helvetica, sans-serif;
    margin: 0;
    text-shadow: 0 1px #fff;
}

#connect {
    float: right;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#connect a {
    float: left;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 0 15px;
}

#connect a.googleplus {
    background-position: 0 0;
}

#connect a.mail {
    background-position: 0 -40px;
}

#connect a.facebook {
    background-position: 0 -80px;
}

#connect a.twitter {
    background-position: 0 -120px;
}