<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>MyBucket</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/lava.jpg')}}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my.css') }}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body onload="blinker(), show()">

    <div style="background:floralwhite;" id="header">
        <div class="area">
            <div>
                <a href="index.html" target>
                    <img id="book" src="{{ url_for('static',filename='images/book.jpeg')}}">
                </a>
                <a href="index.html" target>
                    <img id="book1" src="{{ url_for('static', filename='images/book.jpeg')}}">
                </a>
            </div>
            <div id="title">
                    <u>MyBucket List</u>
                </div>

                <ul id="navigation">
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li class="selected">
                        <a
                            id="lSignIn"
                            href="login.html"
                        >
                            Sign in
                        </a>
                    </li>
                    <li>
                        <a
                            id="lSignUp"
                            href="register.html"
                        >
                            Sign up
                        </a>
                    </li>
                </ul>

            </div>
        </div>

        <div id="contents">
            <div id="indexDiv"><img src="{{ url_for('static',filename='images/div.png') }}" /></div>
            <div id="ent">
                Your dreams come true with <b id="top">MyBucketList</b>.
                <div style="position: absolute; left:5%;" >
                    <a id="new" href="login.html">Sign in to enjoy our services!</a>
                </div>
            </div>

        </div>

        <div
            style="background:wheat;"
            id="footer"
        >
            <span class="divider"></span>
            <div class="area">
                <div id="connect">
                <a href="gegohcomp@gmail.com" target="_blank" class="googleplus"></a>
                <a href="" target="_blank" class="mail"></a>
                <a href="www.facebook.com/georgiegegoh" target="_blank" class="facebook"></a>
                <a href="www.twitter.com/georgiegegoh" target="_blank" class="twitter"></a>
            </div>
            <p id="copyright">
                © 2017 MyBucket List. All Rights Reserved.
                <br> Proudly powered by <a href="http://tuklab.tk" target="_blank">TUKLAB.</a>
            </p>
        </div>
    </div>
    <script src="path/to/vanilla.js"></script>
    <script src="{{ url_for('static', filename='js/vanilla.js') }}"></script>
    <script src="{{ url_for('static', filename='js/angular.js') }}"></script>
</body>

</html>